ipykernel
ipywidgets
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
pypdf
gradio
sentence-transformers
transformers
torchvision==0.20.1
accelerate
diffusers